/*----------------------------------------------------------------------------*\
    #LISTS
\*----------------------------------------------------------------------------*/


.list {

    .list__item {
        list-style: disc;
        list-style-position: inside;
        vertical-align:middle;
    }
}



.list--flush {
    padding: 0;

    .list__item {
        list-style: none;
    }
}



.list--inline {

    .list__item {
        display: inline-block;
    }
}


.list--nav {
  padding-left: 62px;
}
