/*----------------------------------------------------------------------------*\
    #FONTS
\*----------------------------------------------------------------------------*/

/**
 * Font imports
 */

@font-face {
  font-family: 'GothamRnd-Bold';
  src: url(../fonts/GothamRnd-Bold.otf);
}
@font-face {
  font-family: 'GothamRnd-Book';
  src: url(../fonts/GothamRnd-Book.otf);
}
@font-face {
  font-family: 'GothamRnd-Medium';
  src: url(../fonts/GothamRnd-Medium.otf);
}